:root {
    /* Main Colors */
    --main-bg: rgba(255,255,255,1); 
    --main-text: #1F1F1F; 
    --main-border: rgba(137, 191, 124, 1);

    /* Header Colors */
    --header-bg: #1F1F1F; 
    --header-text: rgba(188, 36, 64, 1); 
    --header-border: rgba(137, 191, 124, 1); 

    /* Navigation Colors */
    --nav-bg: #1F1F1F;
    --nav-text: rgba(255,255,255,1); 
    --nav-hover: rgba(137, 191, 124, 1); 
    --nav-border: rgba(137, 191, 124, 1); 
    --nav-active: #03DAC6; 
    --nav-border-yellow: #fbe498;

    /* Link Colors */
    --link-bg: rgba(188, 36, 64, 1); 
    --link-text: rgba(255,255,255,1);
    --link-border: rgba(188, 36, 64, 1); 
    --link-hover-bg: rgb(184, 91, 108); 
    --link-hover-text: #fbe498; 
    --link-hover-border: rgb(184, 91, 108);

    /* Footer Colors */
    --footer-bg: #1F1F1F;
    --footer-text: rgba(255,255,255,1); 
    --footer-border: rgba(137, 191, 124, 1);

    /* Hamburger Menu Colors */
    --hamburger-bg: #fbe498; 
    --hamburger-menu-bg: #1F1F1F; 
    --hamburger-menu-text: #FFFFFF; 
    --hamburger-menu-border: rgba(137, 191, 124, 1);
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--main-bg);
    color: var(--main-text);
    line-height: 1.6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    background-color: var(--header-bg);
    color: var(--header-text);
    text-align: center;
    border-bottom: 4px solid var(--header-border);
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

header h1 {
    width: 100%;
    text-align: center;
}

main p {
    border-left: 4px solid var(--main-border)
}

nav div {
    background-color: var(--nav-bg);
    color: var(--nav-text);
    text-align: center;
    padding: 10px;
    border-bottom: 4px solid var(--nav-border);
    position: relative;
}

nav a {
    margin: 20px;
}

p a, .calendar-button a {
    text-decoration: none;
    color: var(--link-text);
    background-color: var(--link-bg);
    padding: 10px 20px;
    border: 2px solid var(--link-border);
    border-radius: 5px;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

p a:hover, .calendar-button a:hover {
    background-color: var(--link-hover-bg);
    color: var(--link-hover-text);
    border-color: var(--link-hover-border);
}


@media (max-width: 1000px) {
    /* Hamburger Menu */
    .hamburger {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        position: absolute;
        right: 15px;
        z-index: 1000;
    }

    .hamburger .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 3px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: var(--hamburger-bg);
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }

    /* Initial style for the menu */
    nav {
        position: fixed;
        margin-top: 10px;
        right: -300px;
        width: 250px;
        background-color: var(--hamburger-menu-bg);
        color: var(--hamburger-menu-text);
        padding: 10px;
        border: 5px;
        border-color: var(--hamburger-menu-border);
        border-radius: 5px;
        z-index: 999;
        transition: right 0.3s ease;
    }
    
    /* Style when menu is active (visible) */
    nav.active {
        right: 10px;
    }    

    /* Style for the navigation links */
    nav a {
        display: block;
        text-decoration: none;
        font-size: 18px;
        color: var(--nav-text);
        font-family: inherit;
        font-weight: 800;
        margin: 10px 0;
        cursor: pointer;
        text-transform: uppercase;
        padding: 15px;
        border: 2px solid var(--nav-border-yellow);
        border-radius: 5px;
        background-color: transparent;
    }

    main h2, main p, main h3 {
        margin-left: 5%;
        margin-right: 5%;
        padding: 4px;
    }

    .calendar {
        display: none;
    }
}

@media (min-width: 1001px) {
    .hamburger {
        display: none;
    }

    .calendar {
        align-items: center;
        margin-left: 15%;
        width: 70%;
        aspect-ratio: 1 / 0.6;
    }

    .calendar-button {
        display: none;
    }

    .line-break {
        display: none;
    }

    nav a {
        text-decoration: none;
        font-size: 18px;
        color: var(--nav-text);
        font-family: inherit;
        font-weight: 800;
        margin: 10px;
        cursor: pointer;
        position: relative;
        border: none;
        background: none;
        text-transform: uppercase;
        transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
        transition-duration: 400ms;
        transition-property: color;
    }
    
    nav a:hover, nav a:focus {
        color: var(--nav-hover);
    }
    
    nav a:focus:after, nav a:hover:after {
        width: 100%;
        left: 0%;
    }
    
    nav a:after {
        content: "";
        pointer-events: none;
        bottom: -2px;
        left: 50%;
        position: absolute;
        width: 0%;
        height: 2px;
        background-color: var(--nav-border-yellow);
        transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
        transition-duration: 400ms;
        transition-property: width, left;
    }

    main h2, main p, main h3 {
        margin-left: 15%;
        margin-right: 15%;
        padding: 5px;
    }
}

footer {
    background-color: var(--footer-bg);
    color: var(--footer-text);
    text-align: center;
    border-top: 4px solid var(--footer-border);
    position: fixed;
    bottom: 0px;
    width: 100%;
}

main {
    padding-top: 98px;
    margin-bottom: 90px;
}

.impressum {
    padding: 5px; /* Spacing around the content */
    border-radius: 5px; /* Rounded corners */
    margin-top: 5px; /* Space above the section */
}

.impressum h2 {
    color: var(--main-text); /* Darker color for the heading */
}

.impressum address {
    font-style: normal; /* Normal font style for address */
    line-height: 1.5; /* Improved line spacing */
}